body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

@font-face {
  font-family: 'Kartex';
  src: url('../fonts/Kartex/Kartex.woff') format('woff'),
	   url('../fonts/Kartex/Kartex.ttf') format('truetype')
}

.headerPage {
	margin :0;
    position: fixed;
	top: 0; /* 与顶部对齐 */
	 width: 100%;
	z-index: 1000; /* 设置堆叠顺序，确保header在其他元素之上 */
}

.footerPage {
    margin-top: auto;
}
.banner {
	background:#000000;
	color:white;
	font-family: 'Kartex',Arial, sans-serif,"文鼎白玉書體";

}
.banner *{
	
}

.banner a{
	color:white;
	text-decoration: none;
	margin : 10px;
}

.banner-guild{
	padding:31px;
}
.banner-menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 20px 80px 0; /* Add margin as needed */
}

.main-menu {
  display: flex;
  position: relative; 
  list-style: none;
  padding-inline-start: 0px;
}
.main-menu>li {
	margin:15px;
}
.main-menu>li>a{
	display: flex;
	justify-content: center;     /* 水平置中 */ 
	align-content: center; /* 垂直置中 */
}

.main-menu>li::after {
  content: '';
  position: absolute;
  height: 4px;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #fff;
  transition: .5s;
}

/*子項*/
.main-menu>li:hover::after {
  left: 0;
  right: 0;
}
.main-menu li:hover .sub-menu {
  transform: translate(-50%, 15px); /*展開高度*/
}

.sub-menu {
  position: absolute;
  width: 125px;
  text-align: center;
  transform: translate(-40%, -200%);
  transition: 0.75s;
  z-index: -1;
  list-style: none;
}
.sub-menu>li{
			background-color: rgba(23,27, 74, 0.75);
			border: 1px solid #FFA500; /* 添加1像素寬的灰色邊框 */
            margin: 0px; /* 添加間距，讓格線之間有一些空間 */
            padding: 10px; /* 添加內邊距，讓內容與格線之間有一些空間 */
			display: flex;
			justify-content: center;     /* 水平置中 */ 
			align-content: center; /* 垂直置中 */
}
/* 子細項 */

.main-menu li:hover .sub-menu-detail {
  transform: translate(-40%, 15px); /*展開高度*/
}
.sub-menu-detail {
  position: absolute;
  width: 125px;
  text-align: center;
  transform: translate(-40%, -200%);
  transition: 0.75s;
  z-index: -1;
  list-style: none;
}
.sub-menu-detail li:hover .detail-menu {
  transform: translate(88px, -11px); /*展開高度*/
}
.sub-menu-detail>li{
			background-color: rgba(23,27, 74, 0.75);
			border: 1px solid #FFA500; /* 添加1像素寬的灰色邊框 */
            margin: 0px; /* 添加間距，讓格線之間有一些空間 */
            padding: 10px; /* 添加內邊距，讓內容與格線之間有一些空間 */
			display: flex;
			justify-content: center;     /* 水平置中 */ 
			align-content: center; /* 垂直置中 */
}
/*細項*/


.detail-menu {
  position: absolute;
  width: 55%;
  text-align: center;
  transform: translate(0%, -400%);
  transition: 1s;
  z-index: -2;
  list-style: none;
}
.detail-menu>li{
			background-color: rgba(56,60, 120, 0.75);
			border: 1px solid #FFA500; /* 添加1像素寬的灰色邊框 */
            margin: 0px; /* 添加間距，讓格線之間有一些空間 */
            padding: 10px; /* 添加內邊距，讓內容與格線之間有一些空間 */
			display: flex;
			justify-content: center;     /* 水平置中 */ 
			align-content: center; /* 垂直置中 */
}
