body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
	
	background-color: hsl(240, 5%, 95%);
    color: #000000; /* 白色文字 */
	font-family: Arial, sans-serif,"Microsoft JhengHei","文鼎白玉書體";
	
}

@font-face {
  font-family: 'Kartex';
  src: url('../fonts/Kartex/Kartex.woff') format('woff'),
	   url('../fonts/Kartex/Kartex.ttf') format('truetype')
}

.headerPage {
	margin :0;
    position: fixed;
	top: 0; /* 与顶部对齐 */
	width: 100%;
	z-index: 1000; /* 设置堆叠顺序，确保header在其他元素之上 */
}
.contentPage{
	/*background-image: url('../images/Wallpaper.jpeg');*/
	margin:95px 350px;
}

/*------Header 開始------*/
.footerPage {
    margin-top: auto;
}
.banner {
	background:#000000;
	color:white;
	font-weight:bold;
	font-family: 'Kartex',Arial, sans-serif,"WenQuanYi Micro Hei","文鼎白玉書體";
}
.footer-banner {
	background:hsl(255, 50%, 15%);
	color:white;
	text-align:right;
	padding:10px 20px;
	font-family: Arial, sans-serif,"WenQuanYi Micro Hei","文鼎白玉書體";
}
.footer-banner a{
	color:#aaaaaa;
	text-decoration: none;
}
.banner a{
	color:white;
	text-decoration: none;
	margin : 10px;
}

.banner-guild{
	padding:31px;
}
.banner-menu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 20px 80px 0; /* Add margin as needed */
}

.main-menu {
  display: flex;
  position: relative; 
  list-style: none;
  padding-inline-start: 0px;
}
.main-menu>li {
	padding:15px;
}
.main-menu>li>a{
	display: flex;
	justify-content: center;     /* 水平置中 */ 
	align-content: center; /* 垂直置中 */
}

.main-menu>li::after {
  content: '';
  position: absolute;
  height: 4px;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #fff;
  transition: .5s;
}

/*子項*/
.main-menu>li:hover::after {
  left: 0;
  right: 0;
}
.main-menu li:hover .sub-menu {
  transform: translate(-50%, 15px); /*展開高度*/
}

.sub-menu {
  position: absolute;
  width: 125px;
  text-align: center;
  transform: translate(-40%, -200%);
  transition: 0.75s;
  z-index: -1;
  list-style: none;
}
.sub-menu>li{
			background-color: rgba(23,27, 74, 0.75);
			border: 1px solid #FFA500; /* 添加1像素寬的灰色邊框 */
            margin: 0px; /* 添加間距，讓格線之間有一些空間 */
            padding: 10px; /* 添加內邊距，讓內容與格線之間有一些空間 */
			display: flex;
			justify-content: center;     /* 水平置中 */ 
			align-content: center; /* 垂直置中 */
}
/* 子細項 */

.main-menu li:hover .sub-menu-detail {
  transform: translate(-40%, 15px); /*展開高度*/
}
.sub-menu-detail {
  position: absolute;
  width: 125px;
  text-align: center;
  transform: translate(-40%, -200%);
  transition: 0.75s;
  z-index: -1;
  list-style: none;
}
.sub-menu-detail li:hover .detail-menu {
  transform: translate(88px, -11px); /*展開高度*/
}
.sub-menu-detail>li{
			background-color: rgba(23,27, 74, 0.75);
			border: 1px solid #FFA500; /* 添加1像素寬的灰色邊框 */
            margin: 0px; /* 添加間距，讓格線之間有一些空間 */
            padding: 10px; /* 添加內邊距，讓內容與格線之間有一些空間 */
			display: flex;
			justify-content: center;     /* 水平置中 */ 
			align-content: center; /* 垂直置中 */
}
/*細項*/


.detail-menu {
  position: absolute;
  width: 55%;
  text-align: center;
  transform: translate(0%, -400%);
  transition: 1s;
  z-index: -2;
  list-style: none;
}
.detail-menu>li{
			background-color: rgba(56,60, 120, 0.75);
			border: 1px solid #FFA500; /* 添加1像素寬的灰色邊框 */
            margin: 0px; /* 添加間距，讓格線之間有一些空間 */
            padding: 10px; /* 添加內邊距，讓內容與格線之間有一些空間 */
			display: flex;
			justify-content: center;     /* 水平置中 */ 
			align-content: center; /* 垂直置中 */
}
/*------Header 結束------*/

/*--General--*/
.artical {
    margin-top: 60px; /* 添加這一行來增加 QA 內容與標題之間的間距 */
}
.box {
    margin-bottom: 80px;
	background-color : #ffffff;
	padding :35px;
}
.box {
	display:flex;
	padding-left:40px;
    margin-bottom: 20px;
	align-items: flex-start;
	width:100%;
}
.box img {
    margin-left: 20px; /* 添加這一行來設定圖片與答案文本之間的間距 */
    max-width: 100%; /* 讓圖片自適應父元素寬度 */
    height: auto; /* 保持圖片高度自適應 */
}
.box table{
	width:100%;
}
.box .text-field{
	vertical-align:text-top;
	width:70%;
}

/*--QA CSS--*/
.qa-container {
    margin-top: 60px; /* 添加這一行來增加 QA 內容與標題之間的間距 */
}
.question {
    margin-bottom: 80px;
	background-color : #ffffff;
	padding :35px;
}

.answer {
	display:flex;
	padding-left:40px;
    margin-bottom: 20px;
	align-items: flex-start;
	width:100%;
}
.answer img {
    margin-left: 20px; /* 添加這一行來設定圖片與答案文本之間的間距 */
    max-width: 100%; /* 讓圖片自適應父元素寬度 */
    height: auto; /* 保持圖片高度自適應 */
}
.answer table{
	width:100%;
}
.answer .text-field{
	vertical-align:text-top;
	width:70%;
}
